node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.swo
*.swp
.idea/
.vscode/

# macOS
.DS_Store
*.xcworkspace

# Env
.env

# Android
android/build/
android/.gradle/
android/app/build/
android/app/build.gradle.local

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Python
__pycache__/
*.py[cod]
*$py.class